.album-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.album-item {
    margin: 10px;
    text-align: center;
    width: 20%
}

.album-image {
    width: 200px;
    height: 200px;
}

.album-name {
    margin-top: 10px;
}