<div class="container">
  <h1>Username Search</h1>
  <form [formGroup]="usernameForm" (ngSubmit)="onSubmit()">
    <div>
      <input type="text" formControlName="username" placeholder="Enter username" />
      <button type="submit">Search</button>
    </div>
    <!-- <div *ngIf="usernameControl.invalid && (usernameControl.dirty || usernameControl.touched)">
      <div *ngIf="usernameControl.errors?.required">Username is required.</div>
      <div *ngIf="usernameControl.errors?.pattern">Username can only contain alphanumeric characters or hyphens (-).
      </div>
    </div> -->
  </form>
</div>