<div class="container">
  <h1>Username Search</h1>
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div>
      <input type="text" formControlName="username" placeholder="Enter username" />
      <button type="submit">Search</button>
    </div>
    <div>
      <input type="text" formControlName="filter" placeholder="Enter filter text" />
      <button type="button" (click)="onFilter()">Filter</button>
    </div>

  </form>
  <app-search-results [results]="displayFilteredResults ? filteredResults : results"></app-search-results>
</div>